{% extends 'base.html.twig' %}

{% block title %}Api story{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="style.css">


{% endblock %}


{% block body %}

<div class="prod-ean">
<p>
L'ean du produit est :
<span class="story-ean"></span>

</p>

<button class="btn-push">bouton</button>
</div>
{% endblock %}
