{% extends 'base.html.twig' %}

{% block title %}Api story{% endblock %}
{% block stylesheets %}

{% endblock %}


{% block body %}

<div class="example-wrapper">
<h1>Creer une story</h1>
<p class="story-ean"></p>
<button class="btn-push">bouton</button>
</div>
{% endblock %}
